@tailwind base;
@tailwind components;
@tailwind utilities;

@import "primereact/resources/themes/bootstrap4-light-blue/theme.css";     
@import "primereact/resources/primereact.min.css";   

@import 'primeicons/primeicons.css';
        

.mobile-menu{
    animation: slide-in 0.5s ease-in-out;
}

@keyframes slide-in {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}

.mi h1{
    font-weight: bolder;
    margin: 2rem 0 1rem 0;
    font-size: 2rem;
    text-decoration: underline;
}
.mi h2{
    font-weight: 600;
    padding-left: 1rem;
    margin: 1rem 0 1rem 0;
    font-size: 1.5rem;
}

.mi p{
    padding-left: 2rem;
}

.mi ul{
    list-style:disc;
    padding: 0;
    margin: 0.5rem 3.3rem 0.5rem 3.3rem;
}

.sections{
    background: #ebebeb;
    width: calc(6rem * 30);
}

.sections .box{
    width: 6rem;
    height: 6rem;
    transition: 1s;
    background: #fff;
    z-index: 100;
}

.sections .box:hover{
    background-color: #3b82f6;
    transition: 0s;
}

.sections .bg{
    width: 100%;
    height: 100%;
    background: linear-gradient(#ebebeb, #3b82f6, #ebebeb);
    animation: moving 10s infinite linear;
    z-index: 0;
}

@keyframes moving {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(100%);
    }
}


.bottom--2{
    bottom: -1.3rem;
}

.rounded-l-full{
    border-top-left-radius: 9999px;
    border-bottom-left-radius: 9999px;
}

.rounded-r-sm{
    border-top-right-radius: 0.125rem;
    border-bottom-right-radius: 0.125rem;
}

.rounded-l-sm{
    border-top-left-radius: 0.125rem;
    border-bottom-left-radius: 0.125rem;
}

.rounded-bl-full{
    border-bottom-left-radius: 9999px;
}

.rounded-tl-full{
    border-top-left-radius: 9999px;
}

.rounded-r-full{
    border-top-right-radius: 9999px;
    border-bottom-right-radius: 9999px;
}

.rounded-br-full{
    border-bottom-right-radius: 9999px;
}

.rounded-tr-full{
    border-top-right-radius: 9999px;
}

.rounded-br-sm{
    border-bottom-right-radius: 0.125rem;
}

.rounded-bl-sm{
    border-bottom-left-radius: 0.125rem;
}

.rounded-tr-sm{
    border-top-right-radius: 0.125rem;
}

.rounded-tl-sm{
    border-top-left-radius: 0.125rem;
}

.p-speeddial-button.p-button.p-button-icon-only{
    width: 2rem !important;
    height: 2rem !important;
}


.study-animation{
    animation: slide-from-right 0.2s ease-in-out;
}

.test-animation{
    animation: slide-from-left 0.2s ease-in-out;
}

@keyframes slide-from-left {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}

@keyframes slide-from-right {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0%);
    }
}

.p-float-label input, .p-float-label ul{
    width: 100%;
}