@tailwind base;
@tailwind components;
@tailwind utilities;

@import "primereact/resources/themes/bootstrap4-light-blue/theme.css";     
@import "primereact/resources/primereact.min.css";   

@import 'primeicons/primeicons.css';
        

.mobile-menu{
    animation: slide-in 0.5s ease-in-out;
}

@keyframes slide-in {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}